* {
  margin: 0;
  padding: 0;
}

app {
  display: block;
  position: relative;
  overflow: hidden;
  background: #000;
  width: 100%;
  height: 100%;
  margin: 3% auto auto auto;
}

app .sprite {
  display: block;
  position: absolute;
  width: 55px;
  height: 55px;
  z-index: 400;
}

app ._player {
  width: 55px;
  height: 55px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 55px 55px;
}

app .map {
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: 100;
  font-size: 12px;
}

app .map .terrain {
  display: block;
  position: absolute;
  z-index: 200;
}

app .map .terrain .block {
  display: inline-block;
  width: 55px;
  height: 55px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 55px 55px;
}

app .map .entities {
  display: block;
  background-color: transparent;
  position: absolute;
  z-index: 300;
}

app .map .entities .block {
  display: inline-block;
  width: 55px;
  height: 55px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 55px 55px;
}
